$air-color: #c5f0ff;

.app {
  text-align: center;
  height: 18000px;
  background-color: #0e0e0e;
  &__container {
    height: 100%;
    width: 80%;
    max-width: 80%;
    padding: 0;
    background: rgb(14, 233, 226);
    background: linear-gradient(
      180deg,
      rgba(14, 233, 226, 1) 0%,
      rgba(30, 30, 30, 1) 41%,
      rgba(0, 0, 0, 1) 100%
    );
    .air-container {
      height: 45vh;
      background-color: $air-color;
      position: relative;
      .sun {
        position: absolute;
        top: 10px;
        left: 20px;
      }
      .thalassophobia-title {
        color: #001628;
      }
    }
    .svg-container {
      // margin-top: 50px;
      svg {
        background-color: $air-color;
      }
    }
  }
}
